<script src="/javascripts/calendar/calendar.js" type="text/javascript"></script>
<script src="/javascripts/calendar/lang/calendar-ja.js" type="text/javascript"></script>
<script src="/javascripts/calendar/calendar-setup.js" type="text/javascript"></script>
<link href="/stylesheets/calendar.css" media="screen" rel="stylesheet" type="text/css" />

<h2><%= link_to h(l(:plugin_name) + l(:top_page)), :controller => 'daizu_main', :action => 'index' %> <%= l(:title_arrow) %> <%= l(:time_report) %></h2>

<% form_tag({ :controller => 'daizu_time_report', :action => 'index' }, :id => 'query_form') do %>
  <p><label for="project_id"><%= l(:project) %></label>
  <select name="project_id">
    <option value="all"><%= l(:all_project) %></option>
    <% @projects.each do |project| %>
      <option value="<%= project.id %>"><%= project.name %></option>
    <% end %>
  </select>
  
  <p><label for="issue_start_date"><%= l(:start_date) %></label>
  <input id="issue_start_date" name="start_date" size="15" type="text" value="<%= params[:start_date] %>" />
  <img alt="Calendar" class="calendar-trigger" id="issue_start_date_trigger" src="/images/calendar.png" />
  <script type="text/javascript">
  //<![CDATA[
  Calendar.setup({inputField : 'issue_start_date', ifFormat : '%Y-%m-%d', button : 'issue_start_date_trigger' });
  //]]>
  </script></p>

  <p><label for="issue_due_date"><%= l(:due_date) %></label>
  <input id="issue_due_date" name="due_date" size="15" type="text" value="<%= params[:due_date] %>" />
  <img alt="Calendar" class="calendar-trigger" id="issue_due_date_trigger" src="/images/calendar.png" />
  <script type="text/javascript">
  //<![CDATA[
  Calendar.setup({inputField : 'issue_due_date', ifFormat : '%Y-%m-%d', button : 'issue_due_date_trigger' });
  //]]>
  </script></p>

  <button type="submit">GO</button>
<% end %>

<% if @results %>
  <p>[from:<%= params[:start_date] %> to:<%= params[:due_date] %>]<%= l(:s_time_report) %></p>

  <table class="list">
    <tr>
      <th></th>
      <% @trackers.each do |tracker| %>
        <th colspan="3" ><%= tracker.name %></th>
      <% end %>
    </tr>
    <tr>
      <th></th>
      <% @trackers.each do |tracker| %>
        <th><%= l(:estimated_hours) %></th>
        <th><%= l(:actual_performances) %></th>
        <th><%= l(:progress) %></th>
      <% end %>
    </tr>
    <% @results.each do |result| %>
      <tr>
        <th><%= result.project_name %></th>
        <% @trackers.each do |tracker| %>
          <td><%= result.get_tracker(tracker.name).estimated_hours %></td>
          <td><%= result.get_tracker(tracker.name).actual_performances %></td>
          <td>
            <table class="progress" style="width: 40px;">
              <tr>
                <% if result.get_tracker(tracker.name).percentages == 0 %>
                  <td class="todo" style="width:100%;"></td>
                <% elsif result.get_tracker(tracker.name).percentages == 100 %>
                  <td class="closed" style="width:100%;"></td>
                <% elsif result.get_tracker(tracker.name).percentages > 100 %>
                  <td style="width:100%;background-color:red;"></td>
                <% else %>
                  <td class="closed" style="<%= "width:" + result.get_tracker(tracker.name).percentages.to_s + "%;" %>"></td>
                  <td class="todo" style="<%= "width:" + (100 - result.get_tracker(tracker.name).percentages).to_s + "%;" %>"></td>
                <% end %>
              </tr>
            </table>
            <p class="pourcent"><%= result.get_tracker(tracker.name).percentages.to_s %>%</p>
          </td>
        <% end %>
      </tr>
    <% end %>
  </table>

  <% if params[:project_id] != "all" %>

    <h3><%= @results[0].project_name %><%= l(:stat_info) %></h3>

    <!--[if IE]><script src="/plugin_assets/redmine_daizu/javascripts/html5jp/excanvas/excanvas.js" type="text/javascript"></script><![endif]-->
    <script type="text/javascript" src="/plugin_assets/redmine_daizu/javascripts/html5jp/graph/circle.js"></script>
    <script type="text/javascript" src="/plugin_assets/redmine_daizu/javascripts/html5jp/graph/line.js"></script>
    <script type="text/javascript" src="/plugin_assets/redmine_daizu/javascripts/html5jp/graph/vbar.js"></script>
    <script type="text/javascript" src="/plugin_assets/redmine_daizu/javascripts/html5jp/graph/radar.js"></script>
    <script type="text/javascript">
    window.onload = function() {

      // Circle
      var cg = new html5jp.graph.circle("yosou");
      if( ! cg ) { return; }
      var items = [
      <% @trackers.each do |tracker| %>
        <% if tracker.name != l(:sum) %>
          <% if @results[0].get_tracker(tracker.name).actual_performances != 0.0 %>
            ["<%=tracker.name%>", <%= @results[0].get_tracker(tracker.name).actual_performances %>],
          <% end %>
        <% end %>
      <% end %>
      ];
      cg.draw(items);

      var cg = new html5jp.graph.circle("jisseki");
      if( ! cg ) { return; }
      var items = [
      <% @trackers.each do |tracker| %>
        <% if tracker.name != l(:sum) %>
          <% if @results[0].get_tracker(tracker.name).estimated_hours != 0.0 %>
            ["<%=tracker.name%>", <%= @results[0].get_tracker(tracker.name).estimated_hours %>],
          <% end %>
        <% end %>
      <% end %>
      ];
      cg.draw(items);

      // Line
      var lg = new html5jp.graph.line("hikaku");
      if( ! lg ) { return; }
      var items = [
      <% @trackers.each do |tracker| %>
        ["<%=tracker.name%>", <%= @before_results[1].get_tracker(tracker.name).estimated_hours %>, <%= @before_results[0].get_tracker(tracker.name).estimated_hours %>, <%= @results[0].get_tracker(tracker.name).estimated_hours %>],
      <% end %>
      ];
      var params = {
        x: ["", "<%= l(:bb_period) %>", "<%= l(:b_period) %>", "<%= l(:this_period) %>"],
        y: ["<%= l(:time) %>"]
      };
      lg.draw(items, params);

      var rc = new html5jp.graph.radar("yojitsu");
      if( ! rc ) { return; }
      var items = [
        ["<%= l(:estimated_hours) %>",
          <% @trackers.each do |tracker| %>
            <% if tracker.name != l(:sum) %>
              <%= @results[0].get_tracker(tracker.name).estimated_hours %>,
            <% end %>
          <% end %>
        ],
        ["<%= l(:actual_performances) %>",
          <% @trackers.each do |tracker| %>
            <% if tracker.name != l(:sum) %>
              <%= @results[0].get_tracker(tracker.name).actual_performances %>,
            <% end %>
          <% end %>
        ],
      ];
      var params = {
        aCap: [
          <% @trackers.each do |tracker| %>
            "<%= tracker.name %>",
          <% end %>
        ]
      }
      rc.draw(items, params);

    };
    </script>
    
    <table>
      <tr>
        <td style="vertical-align:top;">

          <table>
            <tr>
              <td>
                <h4><%= l(:estimated_hours) %></h4>
                <div><canvas width="300" height="200" id="yosou"></canvas></div>
              </td>
            </tr>
            <tr>
              <td>
                <h4><%= l(:actual_performances) %></h4>
                <div><canvas width="300" height="200" id="jisseki"></canvas></div>
              </td>
            </tr>
          </table>
        </td>
        <td style="vertical-align:top;">
          <h4><%= l(:estimated_and_actual_radar) %></h4>
          <div><canvas width="500" height="400" id="yojitsu"></canvas></div>
        </td>
        <td style="vertical-align:top;">
          <h4><%= l(:comparing_period) %></h4>
          <div><canvas width="300" height="500" id="hikaku"></canvas></div>
        </td>
      </tr>
    </table>

  <% end %>
<% end %>

