<script src="/javascripts/calendar/calendar.js" type="text/javascript"></script>
<script src="/javascripts/calendar/lang/calendar-ja.js" type="text/javascript"></script>
<script src="/javascripts/calendar/calendar-setup.js" type="text/javascript"></script>
<link href="/stylesheets/calendar.css" media="screen" rel="stylesheet" type="text/css" />

<h2><%= link_to h('大豆トップページ'), :controller => 'daizu_main', :action => 'index' %> ＞ タイムレポート</h2>

<% form_tag({ :controller => 'daizu_time_report', :action => 'index' }, :id => 'query_form') do %>
  <p><label for="issue_start_date">開始日</label>
  <input id="issue_start_date" name="start_date" size="15" type="text" value="<%= params[:start_date] %>" />
  <img alt="Calendar" class="calendar-trigger" id="issue_start_date_trigger" src="/images/calendar.png" />
  <script type="text/javascript">
  //<![CDATA[
  Calendar.setup({inputField : 'issue_start_date', ifFormat : '%Y-%m-%d', button : 'issue_start_date_trigger' });
  //]]>
  </script></p>

  <p><label for="issue_due_date">期限日</label>
  <input id="issue_due_date" name="due_date" size="15" type="text" value="<%= params[:due_date] %>" />
  <img alt="Calendar" class="calendar-trigger" id="issue_due_date_trigger" src="/images/calendar.png" />
  <script type="text/javascript">
  //<![CDATA[
  Calendar.setup({inputField : 'issue_due_date', ifFormat : '%Y-%m-%d', button : 'issue_due_date_trigger' });
  //]]>
  </script></p>

  <button type="submit">GO</button>
<% end %>

<p>[from:<%= params[:start_date] %> to:<%= params[:due_date] %>] のタイムレポート。</p>

<table class="list">
  <tr>
    <th></th>
    <th>設計作業</th>
    <th>開発作業</th>
    <th>テスト作業</th>
    <th>運用作業</th>
    <th>間接作業</th>
    <th>合計</th>
  </tr>
  <tr>
    <th>あああプロジェクト</th>
    <td>2.0</td>
    <td>2.0(▲1)</td>
    <td>2.0</td>
    <td>2.0(▲1)</td>
    <td>2.0</td>
    <td>10.0(-)</td>
  </tr>
  <tr>
    <th>いいいプロジェクト</th>
    <td>2.0</td>
    <td>2.0(▲1)</td>
    <td>2.0</td>
    <td>2.0(▲1)</td>
    <td>2.0</td>
    <td>10.0(▲1)</td>
  </tr>
  <tr>
    <th>合計</th>
    <td>2.0</td>
    <td>2.0(▲1)</td>
    <td>2.0</td>
    <td>2.0(▲1)</td>
    <td>2.0</td>
    <td>10.0(▲1)</td>
  </tr>
</table>

<table class="list">
  <tr>
    <th></th>
    <th>設計作業</th>
    <th>開発作業</th>
    <th>テスト作業</th>
    <th>運用作業</th>
    <th>間接作業</th>
  </tr>
  <tr>
    <th>あああプロジェクト</th>
    <td>10%</td>
    <td>10%(▲1)</td>
    <td>10%</td>
    <td>10%(▲1)</td>
    <td>10%</td>
  </tr>
  <tr>
    <th>いいいプロジェクト</th>
    <td>10%</td>
    <td>10%(▲1)</td>
    <td>10%</td>
    <td>10%(▲1)</td>
    <td>10%</td>
  </tr>
  <tr>
    <th>合計</th>
    <td>10%</td>
    <td>10%(▲1)</td>
    <td>10%</td>
    <td>10%(▲1)</td>
    <td>10%</td>
  </tr>
</table>

<table class="list">
  <tr>
    <th>開発コスト</th>
    <td>20h(10%)</td>
  </tr>
  <tr>
    <th>運用コスト</th>
    <td>20h(10%)</td>
  </tr>
  <tr>
    <th>間接コスト</th>
    <td>20h(10%)</td>
  </tr>
  <tr>
    <th>合計</th>
    <td>20h(-)</td>
  </tr>
</table>