<h2><%=  l(:plugin_name) + l(:top_page) %></h2>

<ul>
  <li>
    <%= link_to h(l(:ticket_report) + l(:watch_to)), :controller => 'daizu_ticket_report', :action => 'index' %>
  </li>
  <li>
    <%= link_to h(l(:time_report) + l(:watch_to)), :controller => 'daizu_time_report', :action => 'index' %>
  </li>
  <li>
    <%= link_to h(l(:bug_report) + l(:watch_to)), :controller => 'daizu_bug_report', :action => 'index' %>
  </li>
</ul>

<hr style="margin-bottom:50px;" />

<h3><%= l(:description) %></h3>

<div style="width:700px;">
<p>大豆（Daizu)はRedmineのプラグインです。</p>
<p>過去にTracでタスクを管理していた時に、「これがあれば工数も管理できそう・・・」と
思いついてからはや数年。Railsの勉強がてらにさくっと作ってみました。（工数：約2人日）</p>

<p>
大豆は大きく以下の機能を提供します。
<ol>
  <li>時間指定でチケットを検索し一覧表示する機能</li>
  <li>時間指定でプロジェクトの時間コストを統計表示する機能</li>
  <li>時間指定でバグ情報を統計表示する機能</li>
</ol>
</p>

<h4>チケット検索</h4>
<p>時間指定でチケットを検索する機能は、Redmineのクエリ機能である程度実現は可能ですが、
日報、週報、月報となるデータを、簡単に一覧表示することができることができます。</p>
<p>将来的には、報告書などもRedmineに登録することにより、
Redmineをナレッジデータベース化することも可能です。</p>

<div style="border:solid black 1px;"><%= image_tag "001.jpg", :plugin => "redmine_daizu" %></div>
<p>
<%= link_to h(l(:ticket_report) + l(:watch_to)), :controller => 'daizu_ticket_report', :action => 'index' %>
</p>


<h4>時間コスト統計表示</h4>
<p>時間コストを統計表示する機能は、これもRedmineのタイムトラッキングをレポート表示すること
で実現可能なのですが、タイムトラッキングデータから、
プロジェクトごと、トラッカーごとのデータを一覧表示し、
グラフィカルに表示することにより、
プロジェクトの情報を分析するのに役立ちます。</p>
<p>将来的には、時間に対するコスト概念を加えることにより、
時間だけでなく、費用まで見越した分析が可能になります。</p>

<div style="border:solid black 1px;"><%= image_tag "002.jpg", :plugin => "redmine_daizu" %></div>
<p>
<%= link_to h(l(:time_report) + l(:watch_to)), :controller => 'daizu_time_report', :action => 'index' %>
</p>


<h4>バグ統計表示</h4>
<p>バグ情報を統計表示する機能は、バグチケットから
プロジェクトごとのデータを一覧表示し、グラフィカルに表示することにより、
プロジェクトの情報を分析するのに役立ちます。</p>

<div style="border:solid black 1px;"><%= image_tag "003.jpg", :plugin => "redmine_daizu" %></div>
<p>
<%= link_to h(l(:bug_report) + l(:watch_to)), :controller => 'daizu_bug_report', :action => 'index' %>
</p>


</div>
